


.wrapper{display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    min-height: 100vh; /* vh stands for viewport height */
  }
  
  body{
    background-image: url(https://marketplace.canva.com/EAFnfGcKtiM/1/0/1600w/canva-green-illustrative-organic-plant-zoom-virtual-background-fpJFOduK3w4.jpg);
     width: 100%;
    height: 100%;
background-size: cover;
;}

   .forms{
    background-color: white;
    border-radius: 5px;
    
   }
   .sub{
    background-color: green;
    background-position: 50;
    width: 40%;
    font-size: bold;
    
   } 
   
    
   

   .heading{
    text-align: center;
    font-family: "Playfair Display", serif;

   }

